#canvas {
  border-color: #06030a;
  background-color: #373737;
  position: absolute;
}

.button-link {
  width: 64px;
  height: 64px;
}

.button-link:hover {
  color: red;
}

#fireworks-message{
  font-family: sans-serif;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  color: white;
  font-size: 40px;
}

a {
  margin: 0;
  padding: 0;
}

#git {
  z-index: 100;
}

body {
  margin: -10px -30px -30px -10px;
  background-color: #0a0a0a;
}

.links {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  top: 40px;
  left:40px;
  z-index: 100;
  height:auto;
  color: white;
  width: 140px;
}

.fa {
  color: white;
}
.fa:hover {
  color: gray;
}
