#canvas {
  border-color: #06030a;
  background-color: black;
}

.button-link {
  width: 64px;
  height: 64px;
  margin-right: 25px;
}

#fireworks-message{
  font-family: sans-serif;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  color: white;
  font-size: 40px;
}

a {
  margin: 0;
  padding: 0;
}

#git {
  z-index: 100;
}

body {
  margin: -10px -30px -30px -10px;
  background-color: black;
}

.links {
  position: absolute;
  display: flex;
  flex-direction: row;
  top: 40px;
  left:40px;
  z-index: 100;
  height:auto;
  color: white;
  margin-right: 20px;
}

.fa {
  color: white;
  margin-right: 30px;
}
